h1.strona {
    text-align: center;
    margin-top: 200px;
    font-family: Verdana,
        Tahoma, sans-serif;
    font-size: 50px;
}
div.boxy {
    display: flex;
    background-color: black;
}
div.boxy {
    display: flex;
    background-color: rgb(253, 253, 253);
    margin: 10px;
    font-size: 50px;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 50px;

    align-items: center;

}

div.panda1:hover {
    width: 300px;
    height: auto;
    transform: scale(1.1);
}

div.panda1 {
    background-color: bisque;
}

div.panda2 {
    background-color: bisque;
}

div.panda3 {
    background-color: bisque;
}

div.panda2:hover {
    width: 300px;
    height: auto;
    transform: scale(1.1);
}

div.panda3:hover {
    width: 300px;
    height: auto;
    transform: scale(1.1);
}

img {
    width: 300px;
    border-radius: 15%;
}
p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
        Arial, sans-serif;
}
img{filter: drop-shadow(2px 2px 20px green );}
img{box-shadow: 2px 2px 20px yellow;}
body{background-color: bisque;}
div.boxy{background-color: bisque;}