h1.strona {
    text-align: center;
    margin-top: 200px;
    font-family: Verdana,
        Tahoma, sans-serif;
    font-size: 50px;
    filter: drop-shadow(2px 2px 20px black);
}

div.boxy {
    display: flex;
    background-color: black;
}

div.boxy {
    display: flex;
    background-color: rgb(253, 253, 253);
    margin: 10px;
    font-size: 50px;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    gap: 50px;

    align-items: center;

}

div.panda1:hover {
    width: 300px;
    height: auto;
    transform: scale(1.1);
}

div.panda1 {
    background-color: bisque;
}

div.panda2 {
    background-color: bisque;
}

div.panda3 {
    background-color: bisque;
}

div.panda2:hover {
    width: 300px;
    height: auto;
    transform: scale(1.1);
}

div.panda3:hover {
    width: 300px;
    height: auto;
    transform: scale(1.1);
}

img {
    width: 300px;
    border-radius: 15%;
}

p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
        Arial, sans-serif;
}

img:hover {
    filter: drop-shadow(2px 2px 20px orange);
}

img:hover {
    box-shadow: 2px 2px 20px orange;
}

body {
    background-color: bisque;
}

div.boxy {
    background-color: bisque;
}

i {
    font-size: 30px;
    color: black;
}

i:hover {
    filter: drop-shadow(2px 2px 20px blue);
}

footer {
    position: relative;
    height: 20px;
    background-color: bisque
}

div.icony {
    position: absolute;
    right: 30px;
    bottom: 1500px;
    display: flex;
    gap: 20px;
    filter: drop-shadow(2px 2px 20px green);

}

html.przesuwak {
    text-align: center;
}

button {
    background-color: rgb(238, 105, 65);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    box-shadow: 2px 2px 20px green;
    filter: drop-shadow(2px 2px 20px green);
    background-color: green;
    font-size: 25px;
}

div.przesuwak {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

img.dwa:hover {
    filter: drop-shadow(2px 2px 20px green);
    box-shadow: 2px 2px 20px green;
}

img.trzy:hover {
    filter: drop-shadow(2px 2px 20px blue);
    box-shadow: 2px 2px 20px blue;
}

img.polish:hover {
    filter: drop-shadow(2px 2px 20px rgb(245, 2, 2));
    box-shadow: 2px 2px 20px rgb(243, 1, 1);
}

img.germany:hover {
    filter: drop-shadow(2px 2px 20px rgb(5, 0, 0));
    box-shadow: 2px 2px 20px rgb(2, 0, 0);
}

img.hungary:hover {
    filter: drop-shadow(2px 2px 20px rgb(228, 6, 143));
    box-shadow: 2px 2px 20px rgb(228, 6, 143);
}

div.language {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}


h1.kraje {
    text-align: center;
    margin-top: 100px;
    font-family: Verdana,
        Tahoma, sans-serif;
    font-size: 50px;
    filter: drop-shadow(2px 2px 20px black);
}