
div.kontener{display: flex;flex-wrap: wrap;justify-content: center;}
div.kontener.img{max-width: 100%;height: auto;flex-shrink:1;}
iframe.wideo{display: flex;justify-content: center;align-items: center;height: 100vh;margin: auto;margin-right: auto;margin-left: auto;}